/* Global Styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #1abc9c;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #1abc9c;
    color: white;
}

/* Contact Section */
.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-form-container, .contact-info {
    width: 45%;
}

.contact-form-container h2, .contact-info h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
}

.contact-form-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form-container input, 
.contact-form-container textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.contact-form-container input:focus, 
.contact-form-container textarea:focus {
    outline: none;
    border-color: #1abc9c;
}

.btn {
    padding: 10px 20px;
    background-color: #1abc9c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #16a085;
}

.contact-info p {
    font-size: 1.2em;
    line-height: 1.6;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-form-container, .contact-info {
        width: 100%;
        margin-bottom: 30px;
    }
}